.cart3Container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  padding: 25px;
  column-gap: 25px;
}

.cart3Container > div {
  border-radius: 20px;
  background-color: #efefef;
  padding: 50px 30px;
}

.cart3Container > .priceDetails {
  height: fit-content;
}

.cart3Container > .priceDetails > button {
  background: #000000;
  border-radius: 7px;
  width: 100%;
  color: white;
  padding: 8px;
  margin-top: 30px;
}

.cart3Container > .paymentContainer > .savedUpi > div > div {
  display: flex;
  align-items: center;
  column-gap: 20px;
  border-bottom: 1px solid #dbdbdb;
  padding: 20px 0;
}

.cart3Container > .paymentContainer > .savedUpi > div > div:last-child{
    border-bottom: 2px solid #8C8C8C;
}

.cart3Container > .paymentContainer > .savedUpi > p:first-child {
  padding-bottom: 10px;
}

.cart3Container > .paymentContainer > .savedUpi > div > div > div:nth-child(2) {
  display: flex;
  align-items: center;
}

.cart3Container
  > .paymentContainer
  > .savedUpi
  > div
  > div
  > div:nth-child(2)
  > img {
  width: 40px;
  margin-right: 10px;
}

.cart3Container > .paymentContainer > p:first-child {
  border-bottom: 2px solid #8c8c8c;
  padding-bottom: 20px !important;
}

.cart3Container > .paymentContainer > .savedUpi,
.cart3Container > .paymentContainer > .savedCards,
.cart3Container > .paymentContainer > .otherPaymentOptions {
  padding: 30px 0 0 0;
}

.cart3Container
  > .paymentContainer
  > .savedUpi
  > div
  > div
  > div:nth-child(2)
  > p {
  font-size: 14px;
  line-height: 16px;
}

.cart3Container
  > .paymentContainer
  > .savedUpi
  > div
  > div
  > div:nth-child(2)
  > p:last-child {
  margin-left: 30px !important;
}

.cart3Container > .paymentContainer > .savedCards img {
  width: 180px;
}

.cart3Container > .paymentContainer > .savedCards > div {
  display: flex;
  column-gap: 100px;
  padding: 20px 0 30px 0;
  border-bottom: 2px solid #8c8c8c;
}

.cart3Container > .paymentContainer > .savedCards > div > div {
  display: flex;
  column-gap: 20px;
}

.cart3Container > .paymentContainer > .otherPaymentOptions > p {
  padding-bottom: 20px;
}

.cart3Container > .paymentContainer > .otherPaymentOptions > div {
  display: flex;
  column-gap: 10px;
  padding: 25px 0;
  border-bottom: 1px solid #dbdbdb;
  align-items: center;
}

.cart3Container > .paymentContainer > .otherPaymentOptions {
  font-size: 14px;
  line-height: 16px;
}

.cart3Container > .paymentContainer > .otherPaymentOptions > div:last-child{
    padding-bottom: 0;
    border:none
}