.profileDropdownContainerWrapper {
  position: absolute;
  top: 100%;
  left: -120%;
}
.profileDropdownContainer {
  margin-top: 20px;
  border: 2px solid #ababab;
  border-radius: 11px;
  width: 240px;
  height: fit-content;
  padding: 10px 20px !important;
  background: rgba(255, 255, 255, 0.99);
  backdrop-filter: blur(56.5px);
}

.profileDropdownContainer {
  cursor: default;
}

.profileDropdownContainer a:hover {
  color: black;
}

.profileDropdownContainer a {
  width: fit-content;
}

.profileDropdownContainer > p:first-child {
  font-size: 16px;
  line-height: 18px;
  padding: 4px 0;
  width: 100%;
}

.profileDropdownContainer > div:nth-child(2) {
  display: flex;
  width: 100%;
  padding: 20px 0;
  column-gap: 10px;
  align-items: center;
  border-bottom: 2px solid #e1e1e1;
}

.profileDropdownContainer > div:nth-child(2) > img {
  width: 50px;
}

.profileDropdownContainer > div:nth-child(2) > div > p {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  padding-bottom: 10px;
}

.profileDropdownContainer > div:nth-child(2) > div > a {
  color: black;
  font-weight: 700;
  font-size: 8px;
  line-height: 8px;
  padding: 6px 10px;
  background: #ffffff;
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  text-decoration: none;
  margin: 10px 0;
}

.profileDropdownContainer > div:nth-child(3),
.profileDropdownContainer > div:nth-child(4) {
  padding: 10px 0;
  width: 100%;
  border-bottom: 2px solid #e1e1e1;
}

.profileDropdownContainer > div:nth-child(3) > a,
.profileDropdownContainer > div:nth-child(4) > a {
  display: block;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  text-decoration: none;
  padding: 2px 0;
  margin:5px 0;
}

.profileDropdownContainer > a {
  display: block;
  width: 100%;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  text-decoration: none;
  padding: 15px 0;
  font-weight: 700;
}
