.setPasswordContainer > p:nth-child(2) {
  font-size: 21px;
  line-height: 28px;
  padding: 6px 0;
}

.setPasswordContainer > p:nth-child(2) > span {
  font-weight: 600;
}

.setPasswordContainer > p:nth-child(3) > span:first-child {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #787878;
  padding: 6px 0;
}
