.homeMiddleContainer{
  padding:0 30px
}

.dealBox {
  width: 365px;
  height: 246px;
  position: relative;
}

.dealBox > div {
  position: absolute;
  bottom: 81px;
  right: -50px;
  color: white;
  rotate: calc(-90deg);
}

.dealBox > div > P {
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.03em;
}

.dealBox > div > p:first-child {
  font-weight: 800;
  font-size: 30px;
}

.dealBox > div > p:last-child {
  border-radius: 0 0 11px 11px;
}

.dealBox > div > p {
  background-color: black;
  padding: 0 33.5px;
  border-top: 1px solid black;
}

.womenBox {
  width: 323px;
}

.womenBox > div {
  padding: 10px 25px;
}

.womenBox > div > p {
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
}

.womenBox > div > p > span:first-child {
  font-weight: 700;
}
.womenBox > div > p > span:last-child {
  color: rgba(0, 0, 0, 0.45);
  text-decoration: line-through;
}

.fabricBox {
  width: 620px;
  position: relative;
  border-radius: 10px;
}

.fabricBox > img {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40.54%, #000000 100%);
  filter: drop-shadow(0px 3.99722px 3.99722px rgba(0, 0, 0, 0.25));
  margin:0 20px 10px 20px;
  border-radius: 10px;
}

.fabricBox > P {
  position: absolute;
  left: 40px;
  bottom: 30px;
  background-color: transparent;
  color: white;
  font-family: "Plus Jakarta Sans";
  font-weight: 800;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.225em;
}
