.heading1 {
  font-size: 22px;
  font-weight: 800;
  font-family: "Plus Jakarta Sans";
  letter-spacing: 0.225em;
  padding: 10px 0 10px 50px;
}

.heading2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 35px;
  padding: 10px 0;
}

.text1 {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #787878;
  padding: 10px 0;
}

.text2 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}

.text3{
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  text-decoration-line: underline;
  color: black;
  display: inline-block;
  padding: 10px 0;
}

.box1 {
  margin: 50px auto;
  width: 480px;
  height: auto;
  box-shadow: 8px 12px 37px rgba(0, 0, 0, 0.25),
    inset 0px 0px 19px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  padding: 35px;
}

.btn1 {
  width: 100%;
  background: #848484;
  border-radius: 5px;
  border: none;
  padding: 12px;
  margin: 10px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  letter-spacing: 2px;
}

.btn2{
  box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 43%;
  border: none;
  padding: 10px;
}

.allCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
